<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listagem de turmas</title>

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>

    <link th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/estilo.css}" rel="stylesheet"/>
</head>

<body>

<header th:insert="home/fragments.html :: header"> </header>

<div class="container">
    <div class="page-header">
        <h1>Sistema</h1>
    </div>

    <table class="table">
        <thead>
        <tr>
            <td><a th:href="@{/alunos}">Alunos</a></td>
        </tr>
        <tr>
            <td><a th:href="@{/disciplinas}">Disciplinas</a></td>
        </tr>
        <tr>
            <td><a th:href="@{/pessoas}">Pessoas</a></td>
        </tr>
        <tr>
            <td><a th:href="@{/turmas}">Turmas</a></td>
        </tr>
        </thead>
    </table>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>